/* $Id: sdif-main-page.css,v 1.2 2008-09-10 16:54:01 diemo Exp $

   CSS style sheet for SDIF pages at sourceforge

   $Log: not supported by cvs2svn $
   Revision 1.1  2008/09/10 09:06:43  diemo
   special style for main page only: squeeze headings

   Revision 1.2  2008/01/21 18:27:24  diemo
   slighly less shitty...
*/

body {
       padding-left: 1em;
       font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
       }
ul.navbar {
            list-style-type: none;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 2em;
            left: 1em;
            width: 9em }
h1 {
     font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
     margin-top: 6pt;
     padding-top: 1em;
     border-bottom: solid thick
     }
h2 {
     font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
     color: gray;
     border-bottom: 0px;
     margin-bottom: 0pt;
     text-decoration: none
     }
h3 { /* font-style: italic; */ 
     color: #a0a0a0;
     margin-top: 0pt;
     border-bottom: 0px solid white;
     text-decoration: none
     }
sdif_link {
     color: gray;
     border-bottom: 0px;
     margin-bottom: 0pt;
     text-decoration: none
     }
